/* Resetting Default elements' attributes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Using the body selector instead of creating new div */
body {
    position: relative;
}

/* The background image */
.bg-img {
    width: 100%;
    height: 64.3vh;

    background-image: url("./images/leading-you-forward-background-image.png");
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;

    /* Making sure the image is in the
    back and content is in the front */
    z-index: -1;

    /* To make the background-image div and the content div independent and ignore each others location */
    position: fixed;
    top: 1px;

    /* Mobile Support */
    @media (max-width: 768px) {
        height: 30vh !important;
        background-position: 70% 70% !important;
        top: 0px !important;
    }
}

.content {
    width: 29.75%;
    height: 70%;

    background-color: #1a1a1ad4;

    /* To roughly set the image location */
    position: fixed;
    top: 17.5%;
    right: 15.25%;
    padding: 2.86vw;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 80% !important;
        height: 65% !important;

        top: 17.5% !important;
        right: 10% !important;

        margin-top: -9% !important;
    }

    /* Tablets & Laptop Support */
    @media (max-width: 1199px) and (min-width: 769px) {
        width: 80% !important;
        height: 90% !important;

        top: 5% !important;
        right: 10% !important;

        margin-top: 0% !important;
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper h1 {
    width: 100%;
    height: auto;

    text-align: center;
    font: normal normal 900 36px/53px Heebo;
    color: #ffffff;

    margin: 20px;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 70% !important;
        font: normal normal 900 25px/30px Heebo !important;
    }
}

.content-wrapper p {
    width: 100%;
    height: auto;

    text-align: right;
    font: normal normal normal 20px/29px Heebo;
    color: #f9f9f9;

    padding-inline: 5%;
    margin-bottom: 7%;

    /* Mobile Support */
    @media (max-width: 768px) {
        text-align: center !important;
        font: normal normal normal 15px/22px Heebo !important;
    }
}

#info-form {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-inline: 5%;

    /* Mobile Support */
    @media (max-width: 768px) {
        padding-inline: 10% !important;
    }
}

#info-form label {
    width: auto;
    height: auto;

    text-align: right;
    font: normal normal bold 16px/24px Heebo;
    color: #ffffff;

    margin-top: 3%;

    /* Mobile Support */
    @media (max-width: 768px) {
        font: normal normal bold 14px/21px Heebo !important;
    }
}

#full-name {
    width: 100%;
    height: 50px;

    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d31c75;
    margin-bottom: 1%;

    /* Mobile Support */
    @media (max-width: 768px) {
        height: 28px !important;
    }
}

#email {
    width: 100%;
    height: 50px;

    border: 1px solid #d31c75;
    background: #ffffff 0% 0% no-repeat padding-box;

    /* Mobile Support */
    @media (max-width: 768px) {
        height: 28px !important;
    }
}

#submit-btn {
    width: 166px;
    height: 50px;

    /* Resetting Default Attributes */
    border: none;
    border-radius: 0;

    margin-top: 9.5%;

    text-align: center;
    color: #ffffff;
    letter-spacing: 0.33px;
    font: normal normal bold 22px/30px Heebo;
    background: #d31c75 0% 0% no-repeat padding-box;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 76px !important;
        height: 33px !important;

        font: normal normal bold 15px/20px Heebo !important;
        letter-spacing: 0.23px !important;
    }
}

/* Tablets Support */
